/*
 * Author: Jonnathon McCoy (jmccoy11@mail.greenriver.edu)
 * Date: 5/17/2017
 * Filename: entry.css
 * Description: Styles for entry.html
 */

/* Entry Styles */
  
   @media screen and (max-width: 767px) {
    #entry h1 {
      clear: right;
    }
    #entry img {
      margin-right: 16%;
      margin-bottom: 20px;
    }
   }
   
  #entry {
    background: var(--grey);
    margin: 0 15px 15px 15px;;
    padding: 3em;
    min-height: 400px;
  }
  
  #entry img {
    float: right;
    width: 40%;
    min-width: 200px;
    max-width: 400px;
    max-height: 300px;
    padding-left: 10px;
  }