
/* Main Styles */

/* Variables */

  :root {
    --grey: #e6e6e6;
    --darkgrey: #a9a9a9;
    --lightgrey: #d3d3d3;
    min-width: 500px;
  }
  
  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: white;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }


/* Body Styles */
  /* Classes */
  .top-bottom-border {
    /* padding: 5px 1em 5px 1em;
    margin: 0 -1em 1em -1em; */
    border-top: solid 2px var(--darkgrey);
    border-bottom: solid 2px var(--darkgrey);
  }
  
  .bottom-border {
    border-bottom: solid 2px var(--darkgrey);
    /* padding: 5px 1em 5px 1em;
    margin: 0 -1em 0 -1em;*/
  }
  
  .extend {
    margin: 0 -1em 5px -1em;
    padding: 5px 1em 5px 1em;
  }
  
  .center {
    text-align: center;
  }
  
  .blue {
    color: blue;
  }
  
  .page-container {
    margin: 1em 0 1em 0;
    padding: 0 1em 1em 1em;
  }
  
  .block {
    overflow: auto;
    background: var(--grey);
    margin: 1em 0 1em 0;
    padding: 1em 3em 1em 3em;
  }
  
  .block img {
    overflow: auto;
    float: right;
    min-width: 120px;
    max-width: 120px;
    margin-right: 3em;
    margin-top: 1em;
  }
  
  
/* Navbar */

  #navbar {
    overflow: auto;
    background-color: var(--grey);
    margin-top: 1em;
    padding: 1em 0;
    height: 100%;
  }
  
  nav h2 {
    text-align: center;
  }
  
  nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 75%;
  }
  
  nav ul {
    padding: 1em;
  }
  
  nav li {
    font-weight: bold;
    list-style: none;
  }
  
  
